body {
  font-family: Arial, Helvetica, sans-serif;
	background-color: white;
	margin: 25px;
	width: 650 px;	
}

h1 {
	color: blue;
	margin-left: 18em;
}

section {
	padding: 0 2em 1em;
}

label {
	float: left;
	margin-left: 60em;
	width: 12em;
	text-align: right;
}

input {
	margin-left: 81em;
	margin-bottom: 1em;
}

p {
       	float: left;
	margin-left: 60em;
	width: 20em;
	text-align: right; 
}
